.cta {
    margin-bottom: 120px;
}

.cta-container {
    max-width: 650px;
    margin: 0 auto;
}

.cta-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.cta__banner {
    display: inline;
    margin: 0 auto;
    border-radius: 33px;
    text-align: center;
    padding: 8px 35px;
    background: var(--gradient-light-orange);
    margin-bottom: 20px;
}

.cta__title {
    text-align: center;
}

.cta__button {
    padding: 21.5px 50px;
}
