.header-flex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header {
    padding: 25.5px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__font {
    font-weight: 700;
    font-size: 16px;
}

.header__button-login {
    cursor: pointer;
}

.header__button-strated {
    padding: 13.5px 20.5px;
}
